{% import 'NuxiaValuelistBundle:Macro:valuelist.html.twig' as valuelist_macro %}

{% trans_default_domain 'NuxiaValuelist' %}

{% block form_content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock form_content %}

{% block form_actions %}
    <a href="{{ valuelist_macro.index_url(category) }}" title="{{ 'back'|trans }}">{{ 'back'|trans) }}</a>
{% endblock %}
