{% extends 'NuxiaValuelistBundle:Admin:base.html.twig' %}

{% import 'NuxiaValuelistBundle:Macro:table.html.twig' as table_macro %}

{% set fields = fields|default(['code', 'label', 'value']) %}

{% block title_content %}
    {{ ('valuelist.' ~ category ~ '.index.title')|trans({}, 'messages') }}
{% endblock %}

{% block seo %}
    <title>{{ ('valuelist.' ~ category ~ '.index.title')|trans({}, 'messages') }}</title>
    <meta content="{{ 'valuelist.index.' ~ category ~ '.title'|trans({}, 'messages') }}" name="title">
{% endblock %}

{% block content %}
    {% if valuelist_action_valid('new', category) %}
        <div>
            <a href="{{ path('valuelist_new', {'category': category}) }}" title="{{ ('valuelist.' ~ category ~ '.new.link')|trans({}, 'messages') }}">
                {{ ('valuelist.' ~ category ~ '.new.link')|trans({}, 'messages') }}
            </a>
        </div>
    {% endif %}
    <table>
        <thead>
            {{ table_macro.head('valuelist', fields) }}
        </thead>
        <tbody>
            {% for valuelist in paginator %}
                <tr>
                    {{ table_macro.row(valuelist, fields) }}
                    {% if valuelist_action_valid('edit', category) or valuelist_action_valid('delete', category) %}
                        <td class="actions">
                            {% if security.canManageObject(valuelist, 'edit') and valuelist_action_valid('edit', category) %}
                                <a href="{{ path('valuelist_edit', {'_object': valuelist}) }}" title="{{ 'edit'|trans({}, 'messages') }}">
                                    {{ 'edit'|trans({}, 'messages') }}
                                </a>
                            {% endif %}
                            {% if security.canManageObject(valuelist, 'delete') and valuelist_action_valid('delete', category) %}
                                <a href="{{ path('valuelist_delete', {'_object': valuelist}) }}" title="{{ 'delete'|trans({}, 'messages') }}">
                                    {{ 'delete'|trans({}, 'messages') }}
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(paginator) }}
{% endblock %}
